body{
  text-align: center;
  width: 1365px;
}
.header-main{
  padding: 10px;
  margin: 5px;
  right: 0px;
  background-color: #c3f1cdd7;
  border-radius: 10px;
}
.content{
  padding-top: 25px;
  padding-bottom: 25px;
  display: inline-flex;
}
.sidebar{
  float: left;
  padding-left: 35px;
}
.products{
  float: right;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer{
  padding: 10px;
  margin: 5px;
  background-color: rgb(214, 245, 232);
  border-radius: 10px;
}
.entry{
  background-image: linear-gradient(to bottom right, rgb(163, 233, 238), rgb(0, 140, 255));
}
.success{
  background-image: linear-gradient(to bottom right, rgb(163, 233, 238), rgb(0, 140, 255));
  text-align: center;
  padding-top: 200px;
  padding-bottom: 380px;
}
.profile{
  padding-top: 25px;
  padding-bottom: 25px;
}
.profile-button{
  float: left;
  top: 10px;
  left: 10px;
}
